body{
    height: auto;
    background-color: rgb(72, 164, 192)
    
}
.box{
    display: flex;
    border: 1px solid black;
    align-content: center;
}
.col{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}
.container{
    /* border: 1px solid black; */
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
p{
    border: 1px solid black;
    padding: 0px 1px 15px 11px;
    background-color: rgb(67, 121, 192);
}
h1{
    font-family: 'Zilla Slab Highlight', cursive;
    text-align: center; 
}
